<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
  <route url="/api/addPicture" module="addPicture" action="index" />
  <route url="/api/addCollection" module="addCollection" action="index" />
  <route url="/api/addArtist" module="addArtist" action="index" />
  <route url="/api/addPictureCollection" module="addPictureCollection" action="index" />
  <route url="/api/(.*)" module="Index" action="index" vars="collectionName" />
</routes>