<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
  <route url="/(\?hl=[a-z]{2,})?" module="Index" action="index" /> <!-- Langue pour les moteurs de recherche, pas besoin de faker l'ajout de $_GET[]. -->
  <route url="/collection/[a-z]+/" module="Photoshow" action="index" />
  <!--<route url="/login(\?hl=[a-z]{2,})?" module="Login" action="index" />
  <route url="/logout" module="Logout" action="index" />
  <route url="/signup(\?hl=[a-z]{2,})?" module="Signup" action="index" />
  <route url="/account" module="Account" action="index" />

  <route url="/en/([a-z]*)" module="Lang" action="english" vars="module" />
  <route url="/fr/([a-z]*)" module="Lang" action="french" vars="module" />-->
</routes>