@font-face {
    font-family: 'HelveticaLight';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 45 Light'), url('../fonts/HelveticaNeueLight.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: HelveticaLight;
}

header {
    height: 6.5vh;
    background: #333;
    line-height: 50px;
    vertical-align: middle;
    color: white;
    text-align: center;
}

#collections {
    display: grid;
    border-style: solid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1vh;
    width: 100vw;
}

#collections article {
    background: red;
    border-collapse: collapse;
    position: relative;
}

#collections article a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46.75vh;
    text-transform: uppercase;
    color: white;
    font-size: 1.75em;
}

#pictureShow {
    position: absolute;
    background: url('../pictures/resources/Mona_Lisa.jpg') no-repeat;
    background-size: auto 100%;
    background-position: center;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
}

#arrow-left, #arrow-right {
    width: 80px; height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: opacity 250ms ease-in;
}

#arrow-left:hover, #arrow-right:hover {
    opacity: 1;
    cursor: pointer;
}

#arrow-left {
    left: 5%;
    background-image: url("../pictures/icons/arrow-left.png");
    background-size: 80px 80px;
}

#arrow-right {
    right: 5%;
    background: url("../pictures/icons/arrow-right.png");
    background-size: 80px 80px;
}

#description {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#title, #artist, #year {
    color: white;
}

#title {
    font-size: 2.4em;
}

#artist {
    font-weight: normal;
    font-size: 1.4em;
}

#year {
    font-size: 1.2em;
}