@font-face {
    font-family: 'HelveticaLight';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 45 Light'), url('../fonts/HelveticaNeueLight.woff') format('woff');
}

@font-face {
    font-family: 'PhotoShootRegular';
    src: url('../fonts/photoshoot-webfont.woff2') format('woff2'),
    url('../fonts/photoshoot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0;}
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: HelveticaLight;
}

header {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-family: 'PhotoShootRegular';
}

header h1 {
    font-size: 1.5em;
}

#collections {
    display: grid;
    border-style: solid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1vh;
    width: 100vw;
}

#collections article {
    background: red;
    border-collapse: collapse;
    position: relative;
}

#collections article a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46.75vh;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 3.5em;
    background: rgba(0,0,0, 0.5);
}

#collections article a:hover {
    text-decoration: underline;
    background: rgba(0,0,0, 0);
}

#pictureShow {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
}

#arrow-left, #arrow-right, #cross, #info {
    width: 80px; height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation: disappear 800ms linear;
}

#arrow-left:hover, #arrow-right:hover, #cross:hover, #info:hover {
    opacity: 1;
    cursor: pointer;
    animation: appear 20ms linear;
}

#arrow-left {
    left: 5%;
    background-image: url("../pictures/icons/arrow-left.png");
    background-size: 80px 80px;
}

#arrow-right {
    right: 5%;
    background: url("../pictures/icons/arrow-right.png");
    background-size: 80px 80px;
}

#cross {
    width: 50px; height: 50px;
    top: 45px;
    left: 25px;
    background-image: url("../pictures/icons/cross.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

#info {
    width: 50px; height: 50px;
    top: 45px;
    right: 25px;
    background-image: url("../pictures/icons/info.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

#description {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#title, #artist, #year {
    color: white;
}

#title {
    font-size: 2.4em;
}

#artist {
    font-weight: normal;
    font-size: 1.4em;
}

#year {
    font-size: 1.2em;
}