body{
    background: black;
}

article {
    position: absolute;
    background: url('../pictures/resources/Mona_Lisa.jpg') no-repeat;
    background-size: auto 100%;
    background-position: center;
    top: 0; left: 0; right: 0; bottom: 0;
    display: block;
}

#arrow-left, #arrow-right {
    width: 80px; height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: opacity 250ms ease-in;
}

#arrow-left:hover, #arrow-right:hover {
    opacity: 1;
    cursor: pointer;
}

#arrow-left {
    left: 5%;
    background-image: url("../pictures/icons/arrow-left.png");
    background-size: 80px 80px;
}

#arrow-right {
    right: 5%;
    background: url("../pictures/icons/arrow-right.png");
    background-size: 80px 80px;
}

#description {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

#title, #artist, #year {
    color: white;
    line-height: 0.5em;
    font-family: Courier;
}

#artist {
    font-weight: normal;
}

#year {
    font-size: 1.2em;
}